In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Corona.csv")

In [3]:
df.head(5)

,Unnamed: 0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [4]:
df.dtypes

Unnamed: 0          int64
Province/State     object
Country/Region     object
Last Update        object
Confirmed           int64
Deaths              int64
Recovered           int64
Latitude          float64
Longitude         float64
dtype: object

In [5]:
df.describe

<bound method NDFrame.describe of      Unnamed: 0         Province/State                    Country/Region  \
0             0                  Hubei                             China
1             1                    NaN                             Italy
2             2                    NaN                              Iran
3             3                    NaN                             Spain
4             4                    NaN                           Germany
5             5                    NaN                      Korea, South
6             6                 France                            France
7             7                    NaN                       Switzerland
8             8         United Kingdom                    United Kingdom
9             9               New York                                US
10           10            Netherlands                       Netherlands
11           11                    NaN                            Norway
12           12              Guangdong                             China
13           13                    NaN                           Austria
14           14                  Henan                             China
15           15                    NaN                           Belgium
16           16               Zhejiang                             China
17           17                    NaN                            Sweden
18           18             Washington                                US
19           19                  Hunan                             China
20           20                  Anhui                             China
21           21                Denmark                           Denmark
22           22                Jiangxi                             China
23           23                    NaN                             Japan
24           24               Shandong                             China
25           25             California                                US
26           26       Diamond Princess                       Cruise Ship
27           27                    NaN                          Malaysia
28           28                Jiangsu                             China
29           29              Chongqing                             China
..          ...                    ...                               ...
246         246                    NaN          Central African Republic
247         247                  Tibet                             China
248         248                    NaN               Congo (Brazzaville)
249         249                    NaN                 Equatorial Guinea
250         250                    NaN                          Eswatini
251         251                Mayotte                            France
252         252                    NaN                             Gabon
253         253                    NaN                         Greenland
254         254                    NaN                            Guinea
255         255                    NaN                          Holy See
256         256                    NaN                           Liberia
257         257                    NaN                        Mauritania
258         258                    NaN                           Mayotte
259         259                    NaN                             Nepal
260         260                    NaN  Saint Vincent and the Grenadines
261         261                    NaN                           Somalia
262         262                    NaN                             Sudan
263         263                    NaN                          Suriname
264         264                    NaN                          Tanzania
265         265                    NaN                       The Bahamas
266         266                    NaN                        The Gambia
267         267                    NaN                              Togo
268         268          West Virginia                                US
269         269         Cayman Islands                    United Kingdom
270         270  From Diamond Princess                         Australia
271         271                    NaN                          Guernsey
272         272                    NaN                            Jersey
273         273                    NaN                       Puerto Rico
274         274                    NaN             Republic of the Congo
275         275                    NaN    occupied Palestinian territory

             Last Update  Confirmed  Deaths  Recovered  Latitude  Longitude
0    2020-03-17T11:53:10      67799    3111      56003   30.9756   112.2707
1    2020-03-17T18:33:02      31506    2503       2941   41.8719    12.5674
2    2020-03-17T15:13:09      16169     988       5389   32.4279    53.6880
3    2020-03-17T20:53:02      11748     533       1028   40.4637    -3.7492
4    2020-03-17T18:53:02       9257      24         67   51.1657    10.4515
5    2020-03-17T10:33:03       8320      81       1407   35.9078   127.7669
6    2020-03-17T19:13:08       7652     148         12   46.2276     2.2137
7    2020-03-17T16:33:04       2700      27          4   46.8182     8.2275
8    2020-03-17T15:13:09       1950      55         52   55.3781    -3.4360
9    2020-03-17T22:53:03       1706      13          0   42.1657   -74.9481
10   2020-03-17T15:13:11       1705      43          2   52.1326     5.2913
11   2020-03-17T19:53:02       1463       3          1   60.4720     8.4689
12   2020-03-17T01:53:03       1364       8       1307   23.3417   113.4244
13   2020-03-17T15:33:06       1332       3          1   47.5162    14.5501
14   2020-03-14T09:53:08       1273      22       1250   33.8820   113.6140
15   2020-03-17T15:33:06       1243      10          1   50.5039     4.4699
16   2020-03-17T02:13:21       1232       1       1216   29.1832   120.0934
17   2020-03-17T15:33:06       1190       7          1   60.1282    18.6435
18   2020-03-17T23:33:03       1076      55          1   47.4009  -121.4905
19   2020-03-14T08:33:03       1018       4       1014   27.6104   111.7088
20   2020-03-11T02:18:14        990       6        984   31.8257   117.2264
21   2020-03-17T16:33:04        977       4          1   56.2639     9.5018
22   2020-03-12T02:13:04        935       1        934   27.6140   115.7221
23   2020-03-17T16:53:04        878      29        144   36.2048   138.2529
24   2020-03-17T00:33:02        761       7        746   36.3427   118.1498
25   2020-03-17T22:53:03        698      12          6   36.1162  -119.6816
26   2020-03-13T14:13:25        696       7        325   35.4498   139.6649
27   2020-03-17T15:33:06        673       2         49    4.2105   101.9758
28   2020-03-15T01:53:02        631       0        631   32.9711   119.4550
29   2020-03-15T03:53:04        576       6        570   30.0572   107.8740
..                   ...        ...     ...        ...       ...        ...
246  2020-03-16T03:33:03          1       0          0    6.6111    20.9394
247  2020-03-11T02:18:14          1       0          1   31.6927    88.0924
248  2020-03-16T14:38:45          1       0          0   -0.2280    15.8277
249  2020-03-15T06:41:54          1       0          0    1.5000    10.0000
250  2020-03-15T06:41:54          1       0          0  -26.5225    31.4659
251  2020-03-16T14:38:45          1       0          0  -12.8431    45.1383
252  2020-03-14T13:33:04          1       0          0   -0.8037    11.6094
253  2020-03-16T16:53:06          1       0          0   71.7069   -42.6043
254  2020-03-15T06:41:54          1       0          0    9.9456    -9.6966
255  2020-03-13T22:22:02          1       0          0   41.9029    12.4534
256  2020-03-17T12:13:16          1       0          0    6.4281    -9.4295
257  2020-03-15T18:20:19          1       0          0   21.0079   -10.9408
258  2020-03-16T14:38:45          1       0          0  -12.8275    45.1662
259  2020-03-13T22:22:03          1       0          1   28.3949    84.1240
260  2020-03-14T16:33:03          1       0          0   12.9843   -61.2872
261  2020-03-16T14:38:46          1       0          0    5.1521    46.1996
262  2020-03-14T01:13:32          1       1          0   12.8628    30.2176
263  2020-03-14T16:33:03          1       0          0    3.9193   -56.0278
264  2020-03-17T01:33:03          1       0          0   -6.3690    34.8888
265  2020-03-16T03:33:03          1       0          0   24.2500   -76.0000
266  2020-03-17T23:33:02          1       0          0   13.4667   -16.6000
267  2020-03-13T22:22:02          1       0          0    8.6195     0.8248
268  2020-03-17T23:33:02          1       0          0   38.4912   -80.9545
269  2020-03-16T14:53:04          1       1          0   19.3133   -81.2546
270  2020-03-14T02:33:04          0       0          0   35.4437   139.6380
271  2020-03-17T18:33:03          0       0          0   49.4500    -2.5800
272  2020-03-17T18:33:03          0       0          0   49.1900    -2.1100
273  2020-03-17T16:13:14          0       0          0   18.2000   -66.5000
274  2020-03-17T21:33:03          0       0          0   -1.4400    15.5560
275  2020-03-11T20:53:02          0       0          0   31.9522    35.2332

[276 rows x 9 columns]>

In [6]:
df.isna()

,Unnamed: 0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,True,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,True,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,True,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,True,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
246,False,True,False,False,False,False,False,False,False
247,False,False,False,False,False,False,False,False,False
248,False,True,False,False,False,False,False,False,False
249,False,True,False,False,False,False,False,False,False
250,False,True,False,False,False,False,False,False,False
251,False,False,False,False,False,False,False,False,False
252,False,True,False,False,False,False,False,False,False
253,False,True,False,False,False,False,False,False,False
254,False,True,False,False,False,False,False,False,False
255,False,True,False,False,False,False,False,False,False
256,False,True,False,False,False,False,False,False,False
257,False,True,False,False,False,False,False,False,False
258,False,True,False,False,False,False,False,False,False
259,False,True,False,False,False,False,False,False,False
260,False,True,False,False,False,False,False,False,False
261,False,True,False,False,False,False,False,False,False
262,False,True,False,False,False,False,False,False,False
263,False,True,False,False,False,False,False,False,False
264,False,True,False,False,False,False,False,False,False
265,False,True,False,False,False,False,False,False,False
266,False,True,False,False,False,False,False,False,False
267,False,True,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False
270,False,False,False,False,False,False,False,False,False
271,False,True,False,False,False,False,False,False,False
272,False,True,False,False,False,False,False,False,False
273,False,True,False,False,False,False,False,False,False
274,False,True,False,False,False,False,False,False,False
275,False,True,False,False,False,False,False,False,False

In [11]:
df = df1
df1['Active'] = df1['Confirmed'] - df1['Deaths'] - df1['Recovered']
df1

,Unnamed: 0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Active
0,0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,8685
1,1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,26062
2,2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,9792
3,3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,10187
4,4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,9166
5,5,NaN,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669,6832
6,6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137,7492
7,7,NaN,Switzerland,2020-03-17T16:33:04,2700,27,4,46.8182,8.2275,2669
8,8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360,1843
9,9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481,1693
10,10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913,1660
11,11,NaN,Norway,2020-03-17T19:53:02,1463,3,1,60.4720,8.4689,1459
12,12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,49
13,13,NaN,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501,1328
14,14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,1
15,15,NaN,Belgium,2020-03-17T15:33:06,1243,10,1,50.5039,4.4699,1232
16,16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934,15
17,17,NaN,Sweden,2020-03-17T15:33:06,1190,7,1,60.1282,18.6435,1182
18,18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905,1020
19,19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,0
20,20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264,0
21,21,Denmark,Denmark,2020-03-17T16:33:04,977,4,1,56.2639,9.5018,972
22,22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221,0
23,23,NaN,Japan,2020-03-17T16:53:04,878,29,144,36.2048,138.2529,705
24,24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498,8
25,25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816,680
26,26,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696,7,325,35.4498,139.6649,364
27,27,NaN,Malaysia,2020-03-17T15:33:06,673,2,49,4.2105,101.9758,622
28,28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550,0
29,29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740,0
...,...,...,...,...,...,...,...,...,...,...
246,246,NaN,Central African Republic,2020-03-16T03:33:03,1,0,0,6.6111,20.9394,1
247,247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924,0
248,248,NaN,Congo (Brazzaville),2020-03-16T14:38:45,1,0,0,-0.2280,15.8277,1
249,249,NaN,Equatorial Guinea,2020-03-15T06:41:54,1,0,0,1.5000,10.0000,1
250,250,NaN,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659,1
251,251,Mayotte,France,2020-03-16T14:38:45,1,0,0,-12.8431,45.1383,1
252,252,NaN,Gabon,2020-03-14T13:33:04,1,0,0,-0.8037,11.6094,1
253,253,NaN,Greenland,2020-03-16T16:53:06,1,0,0,71.7069,-42.6043,1
254,254,NaN,Guinea,2020-03-15T06:41:54,1,0,0,9.9456,-9.6966,1
255,255,NaN,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534,1
256,256,NaN,Liberia,2020-03-17T12:13:16,1,0,0,6.4281,-9.4295,1
257,257,NaN,Mauritania,2020-03-15T18:20:19,1,0,0,21.0079,-10.9408,1
258,258,NaN,Mayotte,2020-03-16T14:38:45,1,0,0,-12.8275,45.1662,1
259,259,NaN,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240,0
260,260,NaN,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872,1
261,261,NaN,Somalia,2020-03-16T14:38:46,1,0,0,5.1521,46.1996,1
262,262,NaN,Sudan,2020-03-14T01:13:32,1,1,0,12.8628,30.2176,0
263,263,NaN,Suriname,2020-03-14T16:33:03,1,0,0,3.9193,-56.0278,1
264,264,NaN,Tanzania,2020-03-17T01:33:03,1,0,0,-6.3690,34.8888,1
265,265,NaN,The Bahamas,2020-03-16T03:33:03,1,0,0,24.2500,-76.0000,1
266,266,NaN,The Gambia,2020-03-17T23:33:02,1,0,0,13.4667,-16.6000,1
267,267,NaN,Togo,2020-03-13T22:22:02,1,0,0,8.6195,0.8248,1
268,268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545,1
269,269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546,0
270,270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380,0
271,271,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800,0
272,272,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100,0
273,273,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000,0
274,274,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560,0
275,275,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332,0

In [13]:
df_country = df1.groupby('Country/Region')[['Confirmed','Recovered','Deaths','Active']].sum()
df_country

                                Confirmed  Recovered  Deaths  Active
Country/Region
Afghanistan                            22          1       0      21
Albania                                55          0       1      54
Algeria                                60         12       4      44
Andorra                                39          1       0      38
Antigua and Barbuda                     1          0       0       1
Argentina                              68          3       2      63
Armenia                                78          1       0      77
Aruba                                   3          0       0       3
Australia                             452         23       5     424
Austria                              1332          1       3    1328
Azerbaijan                             28          6       1      21
Bahrain                               228         81       1     146
Bangladesh                             10          3       0       7
Barbados                                2          0       0       2
Belarus                                36          3       0      33
Belgium                              1243          1      10    1232
Benin                                   1          0       0       1
Bhutan                                  1          0       0       1
Bolivia                                11          0       0      11
Bosnia and Herzegovina                 26          2       0      24
Brazil                                321          2       1     318
Brunei                                 56          0       0      56
Bulgaria                               67          0       2      65
Burkina Faso                           15          0       0      15
Cambodia                               33          1       0      32
Cameroon                               10          0       0      10
Canada                                478          9       5     464
Central African Republic                1          0       0       1
Chile                                 201          0       0     201
China                               81058      68798    3230    9030
...                                   ...        ...     ...     ...
Seychelles                              4          0       0       4
Singapore                             266        114       0     152
Slovakia                               72          0       0      72
Slovenia                              275          0       1     274
Somalia                                 1          0       0       1
South Africa                           62          0       0      62
Spain                               11748       1028     533   10187
Sri Lanka                              44          1       0      43
Sudan                                   1          0       1       0
Suriname                                1          0       0       1
Sweden                               1190          1       7    1182
Switzerland                          2700          4      27    2669
Taiwan*                                77         22       1      54
Tanzania                                1          0       0       1
Thailand                              177         41       1     135
The Bahamas                             1          0       0       1
The Gambia                              1          0       0       1
Togo                                    1          0       0       1
Trinidad and Tobago                     5          0       0       5
Tunisia                                24          0       0      24
Turkey                                 47          0       1      46
US                                   6421         17     108    6296
Ukraine                                14          0       2      12
United Arab Emirates                   98         23       0      75
United Kingdom                       1960         53      56    1851
Uruguay                                29          0       0      29
Uzbekistan                             10          0       0      10
Venezuela                              33          0       0      33
Vietnam                                66         16       0      50
occupied Palestinian territory          0          0       0       0

[159 rows x 4 columns]

In [15]:
df_country_province = df1.groupby(['Country/Region','Province/State'])[['Confirmed','Recovered','Deaths','Active']].sum()
df_country_province

                                             Confirmed  Recovered  Deaths  \
Country/Region Province/State
Australia      Australian Capital Territory          2          0       0
               From Diamond Princess                 0          0       0
               New South Wales                     210          4       4
               Northern Territory                    1          0       0
               Queensland                           78          8       0
               South Australia                      29          3       0
               Tasmania                              7          0       0
               Victoria                             94          8       0
               Western Australia                    31          0       1
Canada         Alberta                              74          0       0
               British Columbia                    103          4       4
               Grand Princess                        8          0       0
               Manitoba                              8          0       0
               New Brunswick                         8          0       0
               Newfoundland and Labrador             3          0       0
               Nova Scotia                           7          0       0
               Ontario                             185          5       1
               Prince Edward Island                  1          0       0
               Quebec                               74          0       0
               Saskatchewan                          7          0       0
China          Anhui                               990        984       6
               Beijing                             456        369       8
               Chongqing                           576        570       6
               Fujian                              296        295       1
               Gansu                               133         91       2
               Guangdong                          1364       1307       8
               Guangxi                             253        248       2
               Guizhou                             147        144       2
               Hainan                              168        161       6
               Hebei                               318        310       6
...                                                ...        ...     ...
US             Nebraska                             21          0       0
               Nevada                               56          0       1
               New Hampshire                        26          0       0
               New Jersey                          267          1       3
               New Mexico                           23          0       0
               New York                           1706          0      13
               North Carolina                       64          0       0
               North Dakota                          3          0       0
               Ohio                                 67          0       0
               Oklahoma                             19          0       0
               Oregon                               66          0       1
               Pennsylvania                        112          0       0
               Puerto Rico                           5          0       0
               Rhode Island                         23          0       0
               South Carolina                       47          0       1
               South Dakota                         11          0       1
               Tennessee                            74          0       0
               Texas                               110          0       1
               Utah                                 51          0       0
               Vermont                              12          0       0
               Virgin Islands                        2          0       0
               Virginia                             67          0       2
               Washington                         1076          1      55
               West Virginia                         1          0       0
               Wisconsin                            72          1       0
               Wyoming                              11          0       0
United Kingdom Cayman Islands                        1          0       1
               Channel Islands                       6          0       0
               Gibraltar                             3          1       0
               United Kingdom                     1950         52      55

                                             Active
Country/Region Province/State
Australia      Australian Capital Territory       2
               From Diamond Princess              0
               New South Wales                  202
               Northern Territory                 1
               Queensland                        70
               South Australia                   26
               Tasmania                           7
               Victoria                          86
               Western Australia                 30
Canada         Alberta                           74
               British Columbia                  95
               Grand Princess                     8
               Manitoba                           8
               New Brunswick                      8
               Newfoundland and Labrador          3
               Nova Scotia                        7
               Ontario                          179
               Prince Edward Island               1
               Quebec                            74
               Saskatchewan                       7
China          Anhui                              0
               Beijing                           79
               Chongqing                          0
               Fujian                             0
               Gansu                             40
               Guangdong                         49
               Guangxi                            3
               Guizhou                            1
               Hainan                             1
               Hebei                              2
...                                             ...
US             Nebraska                          21
               Nevada                            55
               New Hampshire                     26
               New Jersey                       263
               New Mexico                        23
               New York                        1693
               North Carolina                    64
               North Dakota                       3
               Ohio                              67
               Oklahoma                          19
               Oregon                            65
               Pennsylvania                     112
               Puerto Rico                        5
               Rhode Island                      23
               South Carolina                    46
               South Dakota                      10
               Tennessee                         74
               Texas                            109
               Utah                              51
               Vermont                           12
               Virgin Islands                     2
               Virginia                          65
               Washington                      1020
               West Virginia                      1
               Wisconsin                         71
               Wyoming                           11
United Kingdom Cayman Islands                     0
               Channel Islands                    6
               Gibraltar                          2
               United Kingdom                  1843

[126 rows x 4 columns]

In [20]:
df_china = df1[df1['Country/Region'] =='China'].groupby(['Province/State'])[['Confirmed','Recovered','Deaths']].sum()
df_china

                Confirmed  Recovered  Deaths
Province/State
Anhui                 990        984       6
Beijing               456        369       8
Chongqing             576        570       6
Fujian                296        295       1
Gansu                 133         91       2
Guangdong            1364       1307       8
Guangxi               253        248       2
Guizhou               147        144       2
Hainan                168        161       6
Hebei                 318        310       6
Heilongjiang          482        456      13
Henan                1273       1250      22
Hong Kong             162         88       4
Hubei               67799      56003    3111
Hunan                1018       1014       4
Inner Mongolia         75         73       1
Jiangsu               631        631       0
Jiangxi               935        934       1
Jilin                  93         92       1
Liaoning              125        120       1
Macau                  12         10       0
Ningxia                75         75       0
Qinghai                18         18       0
Shaanxi               246        236       3
Shandong              761        746       7
Shanghai              358        325       3
Shanxi                133        133       0
Sichuan               540        520       3
Tianjin               136        133       3
Tibet                   1          1       0
Xinjiang               76         73       3
Yunnan                176        172       2
Zhejiang             1232       1216       1

In [24]:
df2=df1.sort_values(['Last Update','Country/Region','Confirmed','Deaths','Recovered'],ascending=False)
df2

,Unnamed: 0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Active
187,187,Wyoming,US,2020-03-17T23:53:03,11,0,0,42.7560,-107.3025,11
18,18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905,1020
55,55,Florida,US,2020-03-17T23:33:02,216,6,0,27.7663,-81.6868,210
122,122,Nevada,US,2020-03-17T23:33:02,56,1,0,38.3135,-117.0554,55
154,154,Kentucky,US,2020-03-17T23:33:02,26,1,1,37.6681,-84.6701,24
175,175,Delaware,US,2020-03-17T23:33:02,16,0,0,39.3185,-75.5071,16
186,186,South Dakota,US,2020-03-17T23:33:02,11,1,0,44.2998,-99.4388,10
185,185,Missouri,US,2020-03-17T23:33:02,11,0,0,38.4561,-92.2884,11
200,200,Idaho,US,2020-03-17T23:33:02,8,0,0,44.2405,-114.4788,8
231,231,North Dakota,US,2020-03-17T23:33:02,3,0,0,47.5289,-99.7840,3
268,268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545,1
266,266,NaN,The Gambia,2020-03-17T23:33:02,1,0,0,13.4667,-16.6000,1
84,84,Pennsylvania,US,2020-03-17T23:13:10,112,0,0,40.5908,-77.2098,112
100,100,Tennessee,US,2020-03-17T23:13:10,74,0,0,35.7478,-86.6923,74
105,105,Connecticut,US,2020-03-17T23:13:10,68,0,0,41.5978,-72.7554,68
109,109,Oregon,US,2020-03-17T23:13:10,66,1,0,44.5720,-122.0709,65
115,115,North Carolina,US,2020-03-17T23:13:10,64,0,0,35.6301,-79.8064,64
130,130,South Carolina,US,2020-03-17T23:13:10,47,1,0,33.8569,-80.9450,46
135,135,Alabama,US,2020-03-17T23:13:10,39,0,0,32.3182,-86.9023,39
147,147,Indiana,US,2020-03-17T23:13:10,30,2,0,39.8494,-86.2583,28
155,155,New Hampshire,US,2020-03-17T23:13:10,26,0,0,43.4525,-71.5639,26
160,160,New Mexico,US,2020-03-17T23:13:10,23,0,0,34.8405,-106.2485,23
169,169,Arizona,US,2020-03-17T23:13:10,20,0,1,33.7298,-111.4312,19
173,173,Kansas,US,2020-03-17T23:13:10,18,1,0,38.5266,-96.7265,17
9,9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481,1693
25,25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816,680
59,59,Louisiana,US,2020-03-17T22:53:03,196,4,0,31.1695,-91.8678,192
69,69,Illinois,US,2020-03-17T22:53:03,161,1,2,40.3495,-88.9861,158
70,70,Colorado,US,2020-03-17T22:53:03,160,2,0,39.0598,-105.3111,158
54,54,Massachusetts,US,2020-03-17T22:53:02,218,0,1,42.2302,-71.5301,217
...,...,...,...,...,...,...,...,...,...,...
254,254,NaN,Guinea,2020-03-15T06:41:54,1,0,0,9.9456,-9.6966,1
250,250,NaN,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659,1
249,249,NaN,Equatorial Guinea,2020-03-15T06:41:54,1,0,0,1.5000,10.0000,1
29,29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740,0
245,245,Prince Edward Island,Canada,2020-03-15T02:13:21,1,0,0,46.5107,-63.4168,1
28,28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550,0
263,263,NaN,Suriname,2020-03-14T16:33:03,1,0,0,3.9193,-56.0278,1
260,260,NaN,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872,1
238,238,NaN,Namibia,2020-03-14T16:33:03,2,0,0,-22.9576,18.4904,2
235,235,St Martin,France,2020-03-14T16:33:03,2,0,0,18.0708,-63.0501,2
252,252,NaN,Gabon,2020-03-14T13:33:04,1,0,0,-0.8037,11.6094,1
14,14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,1
19,19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,0
270,270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380,0
242,242,Northern Territory,Australia,2020-03-14T01:53:03,1,0,0,-12.4634,130.8456,1
262,262,NaN,Sudan,2020-03-14T01:13:32,1,1,0,12.8628,30.2176,0
259,259,NaN,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240,0
267,267,NaN,Togo,2020-03-13T22:22:02,1,0,0,8.6195,0.8248,1
255,255,NaN,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534,1
244,244,NaN,Bhutan,2020-03-13T22:22:02,1,0,0,27.5142,90.4336,1
26,26,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696,7,325,35.4498,139.6649,364
41,41,Hebei,China,2020-03-13T11:09:03,318,6,310,38.0428,114.5149,2
78,78,Shanxi,China,2020-03-13T11:09:03,133,0,133,37.5777,112.2922,0
22,22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221,0
275,275,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332,0
20,20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264,0
42,42,Fujian,China,2020-03-11T02:18:14,296,1,295,26.0789,117.9874,0
95,95,Xinjiang,China,2020-03-11T02:18:14,76,3,73,41.1129,85.2401,0
171,171,Qinghai,China,2020-03-11T02:18:14,18,0,18,35.7452,95.9956,0
247,247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924,0